.DeleteAlert {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: #00000080;
	backdrop-filter: blur(15px);
	animation-name: deleteAlert;
	animation-duration: 0.2s;
	animation-timing-function: ease;
}
@keyframes deleteAlert {
	0% {
		backdrop-filter: blur(0px);
	}
	100% {
		backdrop-filter: blur(15px);
	}
}
.DeleteAlert-modal {
	display: flex;
	align-content: center;
	flex-direction: column;
	background-color: #232324;
	width: 520px;
	height: 208px;
	border-radius: 10px;
	pointer-events: all;
	animation-name: modalDeleteAlert;
	animation-duration: 0.2s;
	animation-timing-function: ease;
	position: relative;
}
@keyframes modalDeleteAlert {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.DeleteAlert-modal-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 472px;
	height: 56px;
	padding: 0 24px;
	box-shadow: inset 0 -1px #353436;
}
.DeleteAlert-modal-title p {
	color: #c9cccf;
	font-size: 18px;
	font-family: 'Inter';
	font-weight: bold;
}
.DeleteAlert-modal-title svg {
	width: 32px;
	height: 32px;
	cursor: pointer;
	transition: all 0.2s ease;
	border-radius: 50%;
}
.DeleteAlert-modal-title svg:hover {
	background-color: #2c2c2d;
}
.DeleteAlert-modal-content {
	display: grid;
	grid-row-gap: 50px;
	padding: 24px 32px 14px;
}
.DeleteAlert-modal-content #alert-text {
	font-size: 17px;
	font-family: 'Inter';
	color: #c9cccf;
}
.DeleteAlert-modal-content-buttons {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	height: 35px;
	grid-column-gap: 12px;
}
.DeleteAlert-modal-content-buttons button {
	padding: 0 16px;
	border-radius: 6px;
	height: 36px;
	border: none;
	outline: none;
	transition: all 0.1s ease;
	font-family: 'Inter';
	font-size: 15px;
	color: white;
	cursor: pointer;
}
.DeleteAlert-modal-content-buttons #alert-btn-cancel {
	background-color: #2c2c2d;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.02),
		0 1px 3px rgba(0, 0, 0, 0.14);
	font-weight: 500;
}
.DeleteAlert-modal-content-buttons #alert-btn-cancel:hover {
	background-color: rgba(50, 50, 50, 0.7);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
		0 1px 4px rgba(0, 0, 0, 0.22);
}
.DeleteAlert-modal-content-buttons #alert-btn-cancel:active {
	background-color: rgba(50, 50, 50, 0.6);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
		0 1px 4px rgba(0, 0, 0, 0.29);
}
.DeleteAlert-modal-content-buttons #alert-btn-delete {
	background-color: #418af4;
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.02),
		0 1px 3px rgba(0, 0, 0, 0.14);
	font-weight: 500;
}
.DeleteAlert-modal-content-buttons #alert-btn-delete:hover {
	background-color: rgba(65, 137, 244, 0.7);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
		0 1px 4px rgba(0, 0, 0, 0.22);
}
.DeleteAlert-modal-content-buttons #alert-btn-delete:active {
	background-color: rgba(65, 137, 244, 0.6);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1),
		0 1px 4px rgba(0, 0, 0, 0.29);
}
